html,
body {
    width: 100pt;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.icons {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5pt;
    margin-bottom: 25pt;
}

.gotopage {
    clear: both;
    text-align: center;
}

input,
label,
select,
button {
    vertical-align: middle;
}

#First {
    background-image: url(../icons/first.png);
    cursor: pointer;
    width: 20px;
    height: 20px;
    float: left;
}

#Prev {
    background-image: url(../icons/prev.png);
    cursor: pointer;
    width: 20px;
    height: 20px;
    float: left;
}

#Next {
    background-image: url(../icons/next.png);
    cursor: pointer;
    width: 20px;
    height: 20px;
    float: left;
}

#Last {
    background-image: url(../icons/last.png);
    cursor: pointer;
    width: 20px;
    height: 20px;
    float: left;
}